@import url("https://fonts.googleapis.com/css?family=Oswald|Russo+One&subset=cyrillic");
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #d6d6d6;
  margin: 0px; }

.wrapper {
  padding: 0; }

@media screen and (min-width: 768px) {
  .menu {
    display: none; } }

.left-block {
  position: relative;
  height: 100vh;
  padding: 0;
  position: fixed;
  background-color: #373737;
  font-family: "Oswald", sans-serif;
  font-size: 18px; }

.left-block__header {
  height: 25%;
  width: 100%;
  margin: 0;
  background-color: #f6e71b;
  background-image: url("../img/LWS_Logo.png");
  background-repeat: no-repeat;
  background-position: center; }

.left-block__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  background-color: #6f6e6e;
  border-bottom: 1px solid #f6e71b;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .left-block__item:hover {
    border-left: 2px solid #f6e71b;
    cursor: pointer; }
    .left-block__item:hover .item-home {
      background-image: url("../img/icons/home-hover.png");
      -webkit-background-size: contain;
              background-size: contain;
      background-position: top;
      background-repeat: no-repeat; }
    .left-block__item:hover .item-about {
      background-image: url("../img/icons/about-hover.png");
      -webkit-background-size: contain;
              background-size: contain;
      background-position: top;
      background-repeat: no-repeat; }
    .left-block__item:hover .item-contacts {
      background-image: url("../img/icons/contacts-hover.png");
      -webkit-background-size: contain;
              background-size: contain;
      background-position: top;
      background-repeat: no-repeat; }
  .left-block__item a {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    color: #bad5ff; }
    .left-block__item a:last-of-type:hover {
      border-bottom: 1px solid #f6e71b;
      color: #f6e71b; }

.item-home {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/home.png");
  -webkit-background-size: contain;
          background-size: contain; }

.item-about {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/about.png");
  -webkit-background-size: contain;
          background-size: contain; }

.item-contacts {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/contacts.png");
  -webkit-background-size: contain;
          background-size: contain; }

.right-block-wrapper {
  position: fixed;
  padding: 0;
  height: 100vh;
  right: 0;
  top: 0;
  overflow-x: scroll; }

.right-block {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: rgba(51, 117, 179, 0.5); }

.header {
  background-color: #e4e4e4; }

.content {
  background-color: #8f50c9; }

.portfolio {
  background-color: #76beb6; }

.footer {
  background-color: #423831; }
