body {
  background-color: #d6d6d6;
  margin: 0px; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.wraper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px; }

.menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
  height: 40px;
  width: 100%;
  background-color: rgba(207, 0, 0, 0.67); }
  .menu .menu_btnblock {
    height: inherit; }
    .menu .menu_btnblock .menu_items {
      height: inherit;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0px; }
      .menu .menu_btnblock .menu_items li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: inherit;
        width: 100px;
        list-style-type: none;
        border-right: 1px solid #fefefe;
        border-left: 1px solid #fefefe; }
      .menu .menu_btnblock .menu_items li:hover {
        cursor: pointer;
        -webkit-transform: translateY(5px);
            -ms-transform: translateY(5px);
                transform: translateY(5px);
        -webkit-transition-delay: 0.1 0.5s;
             -o-transition-delay: 0.1 0.5s;
                transition-delay: 0.1 0.5s;
        -webkit-transition-duration: .2s;
             -o-transition-duration: .2s;
                transition-duration: .2s;
        -webkit-transition: background-color 1s ease;
        -o-transition: background-color 1s ease;
        transition: background-color 1s ease;
        background-color: rgba(255, 255, 255, 0.72); }

.top-bimg__layer {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5); }

.bgc {
  color: #fffbfe; }

.top-bgimg {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 399px;
  background-color: #6247e3;
  background-image: url("../img/Liverpool_ship.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }

.top-bgimg__h1 {
  color: rgba(255, 0, 0, 0.9);
  font-size: 100px; }

.top-bgimg__h2 {
  color: white;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-right: 30%; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("../img/WhiteBGContent.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat; }
  .content .portfolio {
    border: 2px solid #adaaaf;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #939393;
    width: 500px;
    height: 300px; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  height: 100px;
  background-color: #cdb533; }
