// font
@import url('https://fonts.googleapis.com/css?family=Oswald|Russo+One&subset=cyrillic');
//font-family: 'Oswald', sans-serif;
//font
$bodybgcolor: rgb(214, 214, 214);
$menubgcolor: rgba(207, 0, 0, 0.67);
$menu_libgcolor: rgb(211, 212, 211);
$li_bordercolor: rgb(254, 254, 254);
$lbbgc: rgb(55, 55, 55);
$LBHC: rgb(246, 231, 27); // left-block__header b$LBHC
$lbmi: rgb(111, 110, 110); // left-block menu items color
$lbfc: rgb(186, 213, 255); // left-block font color
$lbff: 'Oswald', sans-serif; //left-block font-family
$lbfsz: 18px;
html
  overflow-x: hidden;
  box-sizing: border-box;
body
  background-color: $bodybgcolor;
  margin: 0px;


.wrapper
  padding: 0;

@media screen and (min-width: 768px)
  .menu
    display: none;


.left-block
  position: relative;
  height: 100vh;
  padding: 0;
  position: fixed;
  background-color: $lbbgc;
  font-family: $lbff;
  font-size: $lbfsz;
.left-block__header
  height: 25%;
  width: 100%;
  margin: 0;
  background-color: $LBHC;
  background-image: url("../img/LWS_Logo.png")
  background-repeat: no-repeat;
  background-position: center;
.left-block__item
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 15%;
  background-color: $lbmi;
  border-bottom: 1px solid $LBHC;
  justify-content: center;
  align-items: center;
  &:hover
    border-left: 2px solid $LBHC;
    cursor: pointer;
    .item-home
        background-image: url("../img/icons/home-hover.png");
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    .item-about
      background-image: url("../img/icons/about-hover.png");
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
    .item-contacts
      background-image: url("../img/icons/contacts-hover.png");
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
  a
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: $lbfc;
    &:last-of-type:hover
      border-bottom: 1px solid $LBHC;
      color: $LBHC;

.item-home
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/home.png");
  background-size: contain;
.item-about
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/about.png");
  background-size: contain;
.item-contacts
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/contacts.png");
  background-size: contain;


.right-block-wrapper
  position: fixed;
  padding: 0;
  height: 100vh;
  right: 0;
  top: 0;
  overflow-x: scroll;
.right-block
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: rgba(51, 117, 179, 0.5);

.header
  background-color: rgb(228, 228, 228);

.content
  background-color: rgb(143, 80, 201);

.portfolio
  background-color: rgb(118, 190, 182);

.footer
  background-color: rgb(66, 56, 49);
